html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 2vh;
  justify-content: space-between;
}

.logo {
  height: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px;
}

.logo h2 {
  color: #272e4e;
}

.logo .icon {
  width: 50px;
  height: 50px;
}

.icon {
  width: 18px;
  height: 18px;
}

.home {
  height: 50vh;
  display: flex;
  flex-direction: column;
  margin: 30px;
  background-color: red;
}

.home h2 {
  color: #292727;
}

.upgrade {
  background-color: white;
  border-radius: 2vh;
  margin: 30px;
  height: 20vh;
}
