.icon-text-container {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    align-items: center;
}

.icon {
    padding-right: 0.8rem;
    color: red;
}

.text {
    color: #272e4e;
}

h4 {
    font-weight: 400;
}