.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title h2 {
    font-weight: bold;
}

h3 {
    color: #937ea8;
}

button {
    background-color: #b3d7f7;
    width: 100%;
    border-radius: 2vh;
    color: black;
}